:root {
    --epfl-rouge: #ff0000;
    --epfl-groseille: #b51f1f;
    --epfl-léman: #00a79f;
    --epfl-canard: #007480;
    --epfl-taupe: #413d3a;
    --epfl-perle: #cac7c7;
    font-family: "Suisse Int'l", 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    color: black;
    background-color: white;
}

body {
    width: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 2em;
}

header {
    margin-bottom: 1.5em;
}

main {
    flex: 1;
}

h1 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

p {
    margin: 0.25em 0;
}

a {
    color: var(--epfl-canard);
}

a:visited {
    color: inherit;
}

.input-bar {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
    align-items: baseline;
}

input, button, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0.3em 0.5em 0.1em 0.5em;
}

input {
    flex: 1;
}

#startTime {
    max-width: 10em;
}

#finder-box {
    float: right;
    clear: left;
    margin-right: -29em;
    width: 28em;
}

.hidden {
    display: none;
}

button {
}

img.placeholder {
    width: 100%;
}

.found-node, circle:hover {
    fill: var(--epfl-rouge);
    r: 6px;
}

.selected-node, .selected-node:hover {
    fill: var(--epfl-léman);
    r: 6px;
}

#finder-box table {
    font-variant-numeric: tabular-nums;
    border-collapse: collapse;
    margin-bottom: 2em;
}

#finder-box thead th {
    font-weight: bold;
    padding-bottom: 0.5em;
    vertical-align: bottom;
}

#finder-box thead {
    margin-bottom: 0.5em;
}

#finder-box :is(th, td) {
    padding: 0.1em 0.5em;
    text-align: left;
}

#finder-box td {
    vertical-align: top;
}

#finder-box tr:last-child td:nth-child(2) {
    color: var(--epfl-canard);
    font-weight: bold;
}

footer {
    font-size: small;
    color: #aaa;
    margin-top: 2em;
    padding-bottom: 1em;
}
